<div>
    <h2>Login de usuarios</h2>
    <hr/>
    <form class="form-horizontal" (ngSubmit)="onSubmit()" 
            [formGroup]="loginForm" novalidate>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    formControlName="email"
                    required>

                    <!-- Validamos el field de email -->
                    <div *ngIf="formErros.email"
                         class="alert alert-danger">
                        {{formErros.email}}    
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-6">
                <input type="password"
                    class="form-control"
                    id="password"
                    placeholder="Contraseña"
                    formControlName="password"
                    required>

                    <!-- Validamos el field de password -->
                    <div *ngIf="formErros.password"
                         class="alert alert-danger">
                        {{formErros.password}}    
                    </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10"
                style="padding-top: 20px;">
            <span style="padding-right: 5px;">
                <a href="">Usuario nuevo? Regístrate</a>
            </span>|
            <span style="padding-left: 5px;">
                <a href="">Has olvidado tu Contraseña?</a>
            </span>
        </div>
    </form>
</div>
